In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
import statsmodels.api as sm

In [23]:
df = pd.read_csv('candidates.csv')

In [24]:
df.describe()

       admitted        gmat        gpa  work_experience
count  40.00000   40.000000  40.000000        40.000000
mean    0.50000  654.000000   3.095000         3.425000
std     0.50637   61.427464   0.631218         1.737778
min     0.00000  540.000000   1.700000         1.000000
25%     0.00000  607.500000   2.700000         2.000000
50%     0.50000  660.000000   3.300000         4.000000
75%     1.00000  690.000000   3.700000         5.000000
max     1.00000  780.000000   4.000000         6.000000

In [25]:
data = df.copy()

In [26]:
data.head()

   admitted  gmat  gpa  work_experience
0         1   780  4.0                3
1         1   750  3.9                4
2         1   690  3.3                3
3         1   710  3.7                5
4         1   680  3.9                4

In [27]:
data.dtypes

admitted             int64
gmat                 int64
gpa                float64
work_experience      int64
dtype: object

In [28]:
data[data['admitted'].isna()]

Empty DataFrame
Columns: [admitted, gmat, gpa, work_experience]
Index: []

In [39]:
data_group = data.groupby('admitted',axis=0)

In [40]:
data_group.mean()

           gmat   gpa  work_experience
admitted
0         615.0  2.60             2.05
1         693.0  3.59             4.80

In [41]:
data_group.count()

          gmat  gpa  work_experience
admitted
0           20   20               20
1           20   20               20

In [42]:
data.shape

(40, 4)

In [43]:
data.keys()

Index(['admitted', 'gmat', 'gpa', 'work_experience'], dtype='object')

In [44]:
X = data[['gmat', 'gpa', 'work_experience']]
y = data['admitted']

In [45]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [46]:
regressor = LogisticRegression()
regressor.fit(X_train,y_train)

C:\Users\sony\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [47]:
y_pred = regressor.predict(X_test)

In [48]:
y_values = pd.DataFrame({'Actual':y_test,'Pred':y_pred})
y_values

    Actual  Pred
22       0     1
20       0     0
25       1     1
4        1     1
10       0     0
15       0     0
28       1     1
11       1     1

In [49]:
len(y_values)

8

In [51]:
regressor.score(X,y)

0.9

In [57]:
confusion_matrix = pd.crosstab(y_test,y_pred,rownames=['Actual'],colnames=['Predicted'])
confusion_matrix

Predicted  0  1
Actual
0          3  1
1          0  4

In [60]:
metrics.accuracy_score(y_test,y_pred)

0.875

In [63]:
print(metrics.confusion_matrix(y_test,y_pred))

[[3 1]
 [0 4]]

In [64]:
metrics.precision_score(y_test,y_pred)

0.8